@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Mooli&family=Roboto:wght@300&family=Source+Code+Pro:wght@200&family=Ubuntu:wght@300;400&display=swap');

html, body{
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}
* {
    padding: 0;
    margin: 0; 
}
h1{
    font-size: 20px;
}
.button{
    width: 52px;
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
}
.button img{
    width: 12px;
    background-color: #efefef;
}
.row{
    margin: 8px 0;
}
.row input{
    font-size: 19px;
    margin: 0;
    padding: 10px 0;
    border: 2px solid black;
    border-radius: 5px;
}


